main{
    .actions{
        margin-bottom: 3rem;
    }
    margin: 4rem;
    h5{
        margin-bottom: 3rem;
    }
    span{
        display: block;
        strong{
            margin-right: 1rem;
        }
    }
    button{
        width: 100%;
    }
}